#bn_img{
  width:150px;
  }
  #top{
    height: 100px;
  }
.header_button{
  width: 80px;
  height: 40px;
  font-size: 15px;
}

#header_signup{
  background-color: #443e58;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-weight: bold;
}
#header_signin{
  background-color: #FFFFFF;
  border-radius: 8px;
  border: 2px solid #443e58;
  color: #443e58;
  font-weight: bold;
}
